.main-div {
    border: 2px solid black;
    text-align: center;
    overflow: hidden;

}

.card-grid {
    display: grid;
    grid-template-columns: var(--columns);
    grid-template-rows: var(--columns);
}

.grid-container {
    display: inline-block;
    padding-bottom: 20px;
    padding-top: 20px;

}
:root{
    --colorclosed: #93FF33;
    --columns:repeat(6, 90px);
}
.cell {
    border: 2px solid white;
    background-color: var(--colorclosed);
    text-align: center;
    vertical-align: middle;
    padding: 16px;
    justify-content: center;
}

.cell.flip {
    background-color: darkgreen;
    border: 2px solid white;
    text-align: center;
    vertical-align: middle;
    padding: 18px;
    color: black;
}

.cell.found {
    background-color: purple;
    border: 2px solid white;
    text-align: center;
    vertical-align: middle;
    padding: 18px;
    color: black;
}

.sidebar {
    float: right;
    margin-right: 60px;

}

.cell img {
    width: 100%;
    height: 100%;
    display: none;
}

.cell.flip img {
    width: 100%;
    height: 100%;
    display: block;
}

.button {
    margin-bottom: 2px;
    width: 45%;
}

.victory-screen {
    background-image: url("../images/Victory_screen.png");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}



#top-text {
    position: relative;
    left: -5%;
}

#victory-img {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
}

#time-bar {
    position: relative;
    width: 10%;
    height: 20px;
    background-color: grey;
    left: 40%;
}

#bar {
    width: 70%;
    height: 20px;
    background-color: green;
}

#card-colours {
    padding-top: 60px;
}

#new-game {
    padding-top: 40px;
}
#scores {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#scores thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
#scores th,
#scores td {
    padding: 12px 15px;
}
#scores tbody tr {
    border-bottom: 1px solid #dddddd;
}

#scores tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#scores tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}





